=javascript_include_tag "admin/type_organization"
.container-fluid
  .row
    .col-md-1
    .col-md-10
      .row
        .panel.panel-info
          .panel-heading
            Панель администратора > Организации

          .panel-panel-body
            .row
              .col-md-12
                = form_for @type, url:admin_type_organization_index_path,method: 'post', remote: true do |f|
                  .input-group{style: 'margin: auto; width: 90%; padding: 10px;'}
                    = f.text_field :name, placeholder: 'Укажите тип учреждения для добавления', class:'form-control'
                    %span.input-group-btn= f.submit "Сохранить", class: "btn btn-success"

            .row
              .col-md-12    
                #ct{style: 'padding-left: 10px;'}
                  Кол-во записей: 
                  %span=@types.count.to_s            
                #t{style: 'padding: 2em;'}=render 'types'
