#barsModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{style: "margin-top: 200px; width:80%; z-index: 99999;"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#mednetModalLabel.modal-title Переход в ИАС БАРС
      .modal-body
        %center
          %p
            %h3{style: "color: red;"}
              Обращаем Ваше внимание, что доступ к системе БАРС ОГРАНИЧЕН!!!
        %p
          %strong
            В случае возникновении проблемы при загрузке страницы после нажатия на кнопку "Перейти в ИАС БАРС", необходимо обратится за консультациями по телефону 8 (4842) 70-50-04 доб 46.
        %p{style: "font-size: 9px;"}
          %i
            *Для дальнейшей работы с закрытой системой будет взят Ваш ip адрес: #{request.remote_ip}
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Закрыть
        = link_to 'Перейти в ИАС БАРС', 'http://10.2.1.127:88/SVODY/', class: 'btn btn-primary','data-loading-text'=> "Осуществляется переход..."