.purchase
  .container
    .row
      .col-md-9.animated.fadeInLeft
        %span Запись на прием к врачу в электронном ввиде
        %p Теперь не нужно стоять в очереди перед регистратурой, у Вас появилась возможность записаться к врачу с помощью сервиса в удобное для вас время.
      .col-md-3.btn-buy.animated.fadeInRight
        .pull-left
          = link_to "http://xn--40-6kcanlw5ddbimco.xn--p1ai/", class: "btn btn-primary" do
            %i.fa.fa-phone.fa-1x
              Запись на прием к врачу



.purchase
  .container
    .row
      .col-md-9.animated.fadeInLeft
        %span Участок прикрепления
        %p Для того чтобы узнать к какому учреждению Вы относитесь введите улицу

      / = form_tag(request.path, method: "get", class: "form-horizontal") do
      / 	.col-md-3.animated.fadeInRight
      / 		%br
      / 		= text_field_tag :search, params[:search], class: "form-control"
      / 	.col-md-4.animated.fadeInRight
      / 		%br
      / 		= button_tag(type: "submit", class: "btn btn-primary",  data: { disable_with: "Please wait..." }) do
      / 			%i.fa.fa-search
      / 				Поиск
      / 		= link_to "#", :onclick => "hide_show();return false;", class: "btn btn-primary", id: "link"do
      / 			%i.fa.fa-globe.fa-1x
      / 				Посмотреть по карте
      .col-md-3.animated.fadeInRight
        .pull-left
          %br
            = link_to "#", :onclick => "hide_show();return false;", class: "btn btn-primary",style: "cursor:pointer;", id: "link" do
              %i.fa.fa-globe.fa-1x
                Посмотреть по карте

      = render 'shared/map'

.purchase
  .container
    .row
      .col-md-9.animated.fadeInLeft
        %span Дополнительное лекарственное обеспечение
        %p Узнайте всю необходимую информацию включая адреса лготных аптек.
      .col-md-3.btn-buy.animated.fadeInRight
        .pull-left
          = link_to "#", class: "btn btn-primary" do
            %i.fa.fa-medkit.fa-1x
              Информация по ДЛО