.owl-carousel-v1.owl-work-v1.margin-bottom-40
	.headline
		%h2.pull-left Статистика
	
.row
	/ .col-md-4
	/ / 	= column_chart({"Football" => 10, "Basketball" => 5}, style: "width: 30%;")
	/ .col-md-4
	/ 	= line_chart({20.day.ago => 5, 1368174456 => 4, "2013-05-07 00:00:00 UTC" => 7})
	/ .col-md-4
	/ 	= line_chart(Statistic::MOD_ONE.map{ |h| [name: "121" ,data: h[1]]})
	%center
		%h3 Данный раздел находится в наполнении
	
	
/ .row.margin-bottom-20
/ 	/ Welcome Block
/ 	.col-md-8.md-margin-bottom-40
/ 		.headline
/ 			%h2 Welcome To Unify
/ 		.row
/ 			.col-sm-4
/ 				%img.img-responsive.margin-bottom-20{:alt => "", :src => "http://htmlstream.com/preview/unify-v1.7/assets/img/main/img12.jpg"}/
/ 			.col-sm-8
/ 				%p Unify is an incredibly beautiful responsive Bootstrap Template for corporate and creative professionals. It works on all major web browsers, tablets and phones.
/ 				%ul.list-unstyled.margin-bottom-20
/ 					%li
/ 						%i.fa.fa-check.color-green
/ 						Donec id elit non mi porta gravida
/ 					%li
/ 						%i.fa.fa-check.color-green
/ 						Corporate and Creative
/ 					%li
/ 						%i.fa.fa-check.color-green
/ 						Responsive Bootstrap Template
/ 					%li
/ 						%i.fa.fa-check.color-green
/ 						Corporate and Creative
/ 		%blockquote.hero-unify
/ 			%p Award winning digital agency. We bring a personal and effective approach to every project we work on, which is why. Unify is an incredibly beautiful responsive Bootstrap Template for corporate professionals.
/ 			%small CEO, Jack Bour
/ 	/ /col-md-8
/ 	/ Latest Shots
/ 	.col-md-4.md-margin-bottom-20
/ 		.headline
/ 			%h2 Latest Shots
/ 	