.tab-content
  / Tab Content 1
  #servers.tab-pane.fade.in.active
    #accordion-v1.panel-group.acc-v1
      .panel.panel-default
        .panel-heading
          %h4.panel-title
            %a.accordion-toggle{"data-parent" => "#accordion-v1", "data-toggle" => "collapse", :href => "#collapse-One"}
              How to Customize Sky-Forms
        #collapse-One.panel-collapse.collapse.in
          .panel-body
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
      .panel.panel-default
        .panel-heading
          %h4.panel-title
            %a.accordion-toggle{"data-parent" => "#accordion-v1", "data-toggle" => "collapse", :href => "#collapse-Two"}
              What is "Error 404" page?
        #collapse-Two.panel-collapse.collapse
          .panel-body
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
      .panel.panel-default
        .panel-heading
          %h4.panel-title
            %a.accordion-toggle{"data-parent" => "#accordion-v1", "data-toggle" => "collapse", :href => "#collapse-Three"}
              How to apply background with "Opacity"
        #collapse-Three.panel-collapse.collapse
          .panel-body
            Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Food truck quinoa nesciunt laborum eiusmodolf moon tempor, sunt aliqua put a bird. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      .panel.panel-default
        .panel-heading
          %h4.panel-title
            %a.accordion-toggle{"data-parent" => "#accordion-v1", "data-toggle" => "collapse", :href => "#collapse-Four"}
              How to use Vector Map
        #collapse-Four.panel-collapse.collapse
          .panel-body
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
      .panel.panel-default
        .panel-heading
          %h4.panel-title
            %a.accordion-toggle{"data-parent" => "#accordion-v1", "data-toggle" => "collapse", :href => "#collapse-Five"}
              Can I use Unify Template on multiple projects?
        #collapse-Five.panel-collapse.collapse
          .panel-body
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
      .panel.panel-default
        .panel-heading
          %h4.panel-title
            %a.accordion-toggle{"data-parent" => "#accordion-v1", "data-toggle" => "collapse", :href => "#collapse-Six"}
              How can I make sure that I always have the latest version of Unify?
        #collapse-Six.panel-collapse.collapse
          .panel-body
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
      .panel.panel-default
        .panel-heading
          %h4.panel-title
            %a.accordion-toggle{"data-parent" => "#accordion-v1", "data-toggle" => "collapse", :href => "#collapse-Seven"}
              Is it safe to Update?
        #collapse-Seven.panel-collapse.collapse
          .panel-body
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
  / End Tab Content 1
  / Tab Content 2
  #network.tab-pane.fade
    #accordion-v2.panel-group.acc-v1
      .panel.panel-default
        .panel-heading
          %h4.panel-title
            %a.accordion-toggle{"data-parent" => "#accordion-v2", "data-toggle" => "collapse", :href => "#collapse-v2-One"}
              Payment assistance first
        #collapse-v2-One.panel-collapse.collapse.in
          .panel-body
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
      .panel.panel-default
        .panel-heading
          %h4.panel-title
            %a.accordion-toggle{"data-parent" => "#accordion-v2", "data-toggle" => "collapse", :href => "#collapse-v2-Two"}
              Payment assistance second
        #collapse-v2-Two.panel-collapse.collapse
          .panel-body
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
      .panel.panel-default
        .panel-heading
          %h4.panel-title
            %a.accordion-toggle{"data-parent" => "#accordion-v2", "data-toggle" => "collapse", :href => "#collapse-v2-Three"}
              Payment assistance third
        #collapse-v2-Three.panel-collapse.collapse
          .panel-body
            Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Food truck quinoa nesciunt laborum eiusmodolf moon tempor, sunt aliqua put a bird. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      .panel.panel-default
        .panel-heading
          %h4.panel-title
            %a.accordion-toggle{"data-parent" => "#accordion-v2", "data-toggle" => "collapse", :href => "#collapse-v2-Four"}
              Payment assistanc fourth
        #collapse-v2-Four.panel-collapse.collapse
          .panel-body
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
      .panel.panel-default
        .panel-heading
          %h4.panel-title
            %a.accordion-toggle{"data-parent" => "#accordion-v2", "data-toggle" => "collapse", :href => "#collapse-v2-Five"}
              Payment assistanc fifth
        #collapse-v2-Five.panel-collapse.collapse
          .panel-body
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
  / Tab Content 2
  / Tab Content 3
  #development.tab-pane.fade
    #accordion-v3.panel-group.acc-v1
      .panel.panel-default
        .panel-heading
          %h4.panel-title
            %a.accordion-toggle{"data-parent" => "#accordion-v3", "data-toggle" => "collapse", :href => "#collapse-v3-One"}
              Work for Unify first
        #collapse-v3-One.panel-collapse.collapse.in
          .panel-body
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
      .panel.panel-default
        .panel-heading
          %h4.panel-title
            %a.accordion-toggle{"data-parent" => "#accordion-v3", "data-toggle" => "collapse", :href => "#collapse-v3-Two"}
              Work for Unify second
        #collapse-v3-Two.panel-collapse.collapse
          .panel-body
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
      .panel.panel-default
        .panel-heading
          %h4.panel-title
            %a.accordion-toggle{"data-parent" => "#accordion-v3", "data-toggle" => "collapse", :href => "#collapse-v3-Three"}
              Work for Unify third
        #collapse-v3-Three.panel-collapse.collapse
          .panel-body
            Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Food truck quinoa nesciunt laborum eiusmodolf moon tempor, sunt aliqua put a bird. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      .panel.panel-default
        .panel-heading
          %h4.panel-title
            %a.accordion-toggle{"data-parent" => "#accordion-v3", "data-toggle" => "collapse", :href => "#collapse-v3-Four"}
              Work for Unify fourth
        #collapse-v3-Four.panel-collapse.collapse
          .panel-body
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
      .panel.panel-default
        .panel-heading
          %h4.panel-title
            %a.accordion-toggle{"data-parent" => "#accordion-v3", "data-toggle" => "collapse", :href => "#collapse-v3-Five"}
              Work for Unify fifth
        #collapse-v3-Five.panel-collapse.collapse
          .panel-body
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
  / Tab Content 3
  / Tab Content 4
  #learn.tab-pane.fade
    #accordion-v4.panel-group.acc-v1
      .panel.panel-default
        .panel-heading
          %h4.panel-title
            %a.accordion-toggle{"data-parent" => "#accordion-v4", "data-toggle" => "collapse", :href => "#collapse-v4-One"}
              About Unify first
        #collapse-v4-One.panel-collapse.collapse.in
          .panel-body
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
      .panel.panel-default
        .panel-heading
          %h4.panel-title
            %a.accordion-toggle{"data-parent" => "#accordion-v4", "data-toggle" => "collapse", :href => "#collapse-v4-Two"}
              About Unify second
        #collapse-v4-Two.panel-collapse.collapse
          .panel-body
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
      .panel.panel-default
        .panel-heading
          %h4.panel-title
            %a.accordion-toggle{"data-parent" => "#accordion-v4", "data-toggle" => "collapse", :href => "#collapse-v4-Three"}
              About Unify third
        #collapse-v4-Three.panel-collapse.collapse
          .panel-body
            Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Food truck quinoa nesciunt laborum eiusmodolf moon tempor, sunt aliqua put a bird. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      .panel.panel-default
        .panel-heading
          %h4.panel-title
            %a.accordion-toggle{"data-parent" => "#accordion-v4", "data-toggle" => "collapse", :href => "#collapse-v4-Four"}
              About Unify fourth
        #collapse-v4-Four.panel-collapse.collapse
          .panel-body
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
      .panel.panel-default
        .panel-heading
          %h4.panel-title
            %a.accordion-toggle{"data-parent" => "#accordion-v4", "data-toggle" => "collapse", :href => "#collapse-v4-Five"}
              About Unify fifth
        #collapse-v4-Five.panel-collapse.collapse
          .panel-body
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.

  #consultation.tab-pane.fade
    #accordion-v5.panel-group.acc-v1
      .panel.panel-default
        .panel-heading
          %h4.panel-title
            %a.accordion-toggle{"data-parent" => "#accordion-v5", "data-toggle" => "collapse", :href => "#collapse-v5-One"}
              About Unify first
        #collapse-v5-One.panel-collapse.collapse.in
          .panel-body
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
      .panel.panel-default
        .panel-heading
          %h4.panel-title
            %a.accordion-toggle{"data-parent" => "#accordion-v5", "data-toggle" => "collapse", :href => "#collapse-v5-Two"}
              About Unify second
        #collapse-v5-Two.panel-collapse.collapse
          .panel-body
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
      .panel.panel-default
        .panel-heading
          %h4.panel-title
            %a.accordion-toggle{"data-parent" => "#accordion-v5", "data-toggle" => "collapse", :href => "#collapse-v5-Three"}
              About Unify third
        #collapse-v5-Three.panel-collapse.collapse
          .panel-body
            Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Food truck quinoa nesciunt laborum eiusmodolf moon tempor, sunt aliqua put a bird. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      .panel.panel-default
        .panel-heading
          %h4.panel-title
            %a.accordion-toggle{"data-parent" => "#accordion-v5", "data-toggle" => "collapse", :href => "#collapse-v5-Four"}
              About Unify fourth
        #collapse-v5-Four.panel-collapse.collapse
          .panel-body
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
      .panel.panel-default
        .panel-heading
          %h4.panel-title
            %a.accordion-toggle{"data-parent" => "#accordion-v5", "data-toggle" => "collapse", :href => "#collapse-v5-Five"}
              About Unify fifth
        #collapse-v5-Five.panel-collapse.collapse
          .panel-body
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
