- title 'Документы МИАЦ Калужской области'
- meta_tag :description, 'Документы по разным видам деятельности медицинского информационно-аналитического центра Калуги'
- meta_tag :keywords, 'статистические документы, МИАЦ Калуга'

=render 'shared/document'