%h4 Обратная связь с официального сайта ГБУЗ КО "МИАЦ Калужской области"
%p
  ========================================================
%p
  Тема сообщения:
  %span
    %i=@feedback.theme.name
%p
  Сообщение:
  %span
    %i=@feedback.message.html_safe
%p
  ==========================================
%p
  Телефон:
  %span
    %i=@feedback.tel
%p
  Адрес электронной почты:
  %span
    %i=mail_to(@feedback.email)

%p
  Организация:
  %span
    %i=@feedback.org_text
%p
  ==========================================
