- title 'Задачи МИАЦ Калужской области'
- meta_tag :description, 'Описаны задачи, выполняемые МИАЦ Калуги'
- meta_tag :keywords, 'задачи, медицинские регистры, дло, лекарственное обеспечение, информатизация, техническая поддержкаотрудники МИАЦ Калуга, телефон, как связатьсяб телефонная книга, МИАЦ Калуга'
.container-fluid
  .row
    .col-md-2
    .col-md-8
      .panel.panel-info{style:"font-size: 14px;"}
        .panel-heading
          .row
            .col-md-10
              %i
                .path
                  О нас > Задачи МИАЦ
            .col-md-2
              .pull-right=render 'shared/social_share'
        .panel-body
          .text-info{style:"font-size: 15px;"}
            Основными задачами ГБУЗ "МИАЦ Калужской области" являются сбор и обработка информации о состоянии здоровья населения и деятельности учреждений здравоохранения, обеспечение медико-статистической информацией медицинских организаций районов и города Калуги, а также министерства здравоохранения Калужской области, внедрение новых технологий обработки статистических данных в системе здравоохранения региона с использованием современных программных средств и информационных технологий:
          %p
          %i.fa.fa-check
          %span
            %strong
              Координация
          %span работ в области медицинской статистики и информатизации учреждений здравоохранения, содержание в актуальном состоянии региональной информационной медицинской вычислительной сети, разработка программных средств, сбор, обработка, свод, контроль достоверности и анализ медицинской статистической информации;
          %p
          %i.fa.fa-check
          %span
            %strong
              Ведение
          %span регистров банков и хранилищ данных, обработка и разработка имеющейся информации для обеспечения плановой деятельности министерства здравоохранения;
          %p

          %i.fa.fa-check
          %span
            %strong
              Подготовка
          %span организационно-методических материалов по обеспечению деятельности службы медицинской статистики и ведения учетно-отчетной документации в медицинских организациях области;
          %p

          %i.fa.fa-check
          %span
            %strong
              Участие
          %span в обслуживании рецептов по программе дополнительного лекарственного обеспечения;
          %p

          %i.fa.fa-check
          %span
            %strong
              Обеспечение
          %span проведения конференций и презентаций необходимой техникой, активное участие во внедрении и продвижение видеоконференций и телемедицинских сеансов связи;
          %p

          %i.fa.fa-check
          %span
            %strong
              Оказание
          %span технической помощи учреждениям здравоохранения Калужской области в настройке и конфигурированию сетевого оборудования, серверов, рабочих станций, монтаже ЛВС;
          %p

          %i.fa.fa-check
          %span
            %strong
              Участие
          %span в программе развития регионального сегмента Единой государственной информационной системы в сфере здравоохранения (ЕГИСЗ).
          %p


  %br
    %br
